@inject NavigationManager Navigation


<AuthorizeView>
    <Authorizing>
        <text>...</text>
    </Authorizing>
    <Authorized>
        <img src="img/user.svg" />
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <div>
            <a href="authentication/profile" class="username">@context.User.Identity.Name</a>
            <button class="btn btn-link sign-out" @onclick="BeginSignOut">Sign out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    async Task BeginSignOut()
    {
        //await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}