@using CrowBar;

<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item">x</a>
    <div class="title">@(MenuItem.Name)</div>
    <ul>
        @foreach (var side in MenuItem.Sides)
        {
            <li>+ @side.Name, @side.Price</li>
        }
    </ul>
    <div class="item-price">
        @MenuItem.Total();
    </div>
</div>

@code {
    [Parameter] public Models.MenuItem MenuItem { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}
