<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item">x</a>
    <div class="title">@(order.MenuItem.Name), + @(order.Quantity)</div>

    <div class="item-price">
            $@(order.MenuItem.Price * order.Quantity)
        </div>
</div>

@code {
    [Parameter] public CrowBar.Models.OrderItem order { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}
