@page "/"

<h1>Welcome to the Crow Bar!</h1>
<div class="shitty-cla">
<p>
    Welcome to the Crow Bar web app where you can easily place your orders for pickup.

    Due to covid-19 we will be limiting groups of people allowed on the dock. Please only 1 person
    at a time come and order.
</p>

</div>

<SurveyPrompt Title="Take a brief survey to help us improve our service and menu at the Crow Bar?" />
