@page "/"

<h1>The Crow Bar!</h1>

Welcome to the Crow Bar web app where you can easily place your orders for pickup.

<SurveyPrompt Title="Take a brief survey to help us improve our service and menu at the Crow Bar?" />
