@page "/myorders"

@using CrowBar.Models;
@using Microsoft.AspNetCore.Http;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@*@inject IHttpContextAccessor HttpContextAccessor;*@
@inject Microsoft.AspNetCore.Identity.UserManager<CrowBar.Areas.Identity.Data.CrowBarUser> _userManager;
@inject CrowBar.Data.CrowBarContext _db;

@attribute [Authorize(Roles = "Administrator, Owner, Customer")]

<div class="main">
    @if (orders == null)
    {
        <text>Loading...</text>
    }
    else if (!orders.Any())
    {
        <h2>No orders placed</h2>
        <a class="btn btn-success" href="/menu">Order some pizza</a>
    }
    else
    {
        @* It looks like a lot of code, but there's nothing special here. It simply uses a
            @foreach to iterate over the ordersWithStatus and outputs a <div> for each one. *@
        <div class="list-group orders-list">
            @foreach (var order in orders)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@order.CreatedTime.ToLongDateString()</h5>
                        Items:
                        <strong>@(order.OrderCount())</strong>;
                        Total price:
                        <strong>$@order.GetFormattedBasePrice()</strong>
                    </div>
                    <div class="col">
                        Status: <strong>@order.OrderStatus</strong>
                    </div>
                    <div class="col flex-grow-0">
                        <a href="myorders/@order.OrderId" class="btn btn-success">
                            Track &gt;
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>



@code {
    List<Order> orders;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnInitializedAsync();
        //var userClaim = HttpContextAccessor.HttpContext.User;
        //var user = await _userManager.GetUserAsync(userClaim);
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var claimsPrinciple = authState.User;
        var user = await _userManager.GetUserAsync(claimsPrinciple);
        orders = _db.Orders
        .Include(p => p.OrderItems).ThenInclude(p => p.MenuItem)
        .Where(x => x.User.Id == user.Id)
                       .OrderByDescending(x => x.CreatedTime).ToList();   // todo: filter for 'active' orders

    }
}
